{% extends '@AkyosFileManager/layout.html.twig' %}
{% form_theme uploadForm 'form_div_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    <section class="current-dir my-4">
        <h4>
            {% set pathDirs = currentPath|split('/') %}
            <a href="{{ path('file_index', { path : '/' }) }}">Uploads </a>
            {% for key, value in pathDirs|filter((v, k) => k > 0) %}
                {% set pathString = "" %}
                {% for i in 1..key %}
                    {% set pathString = pathString ~ '/' ~ pathDirs[i]  %}
                {% endfor %}
                {% if value %}
                    {% if key < (pathDirs|length - 1) %}
                        / <a href="{{ path('file_index', { path : pathString }) }}">{{ value }}</a>
                    {% else %}
                        / <span>{{ value }}</span>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </h4>
    </section>

    <div class="aky-header-page d-flex align-items-center">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#aky-filemanager-modal-manage-folder" data-action="CREATE">
            <i class="fas fa-folder-plus"></i>
        </button>
        <a class="btn btn-black btn-sm" href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a>
        <a class="btn btn-black btn-sm" href="javascript:location.reload()"><i class="fas fa-sync-alt"></i></a>
        {{ form_start(uploadForm) }}
            {{ form_widget(uploadForm) }}
            <button class="btn btn-outline-success">Ajouter</button>
        {{ form_end(uploadForm) }}
    </div>

    <section class="my-4">
        <h2>Dossiers</h2>
        <div class="aky-file-collection">
            {% if directories != null %}
                {% for directory in directories %}
                    <div class="aky-file-container">
                        <div class="aky-file aky-file--folder">
                            <a class="aky-file-preview aky-file-updateiframe-btn" href="{{ path('file_index', { path : app.request.get('path')~'/'~directory.name }) }}">
                                <i class="fas fa-folder"></i>
                            </a>
                            <div class="aky-file-btnmanager">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#aky-filemanager-modal-manage-folder" data-action="EDIT" data-folder="{{ app.request.get('path')~'/'~directory.name }}">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#aky-filemanager-modal-move-manager" data-file="{{ directory.absolutePath }}" data-type="FOLDER">
                                        <i class="fas fa-hand-point-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="aky-file-collection-remove">
                                <a class="btn btn-danger btn-sm" href="{{ path('file_remove_folder', { folder : app.request.get('path')~'/'~directory.name }) }}"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <div class="aky-file-infos">
                            <div class="aky-file-infos__name">{{ directory.name|slice(0, 10) }}</div>
                            <div class="aky-file-infos__size">{{ directory.size|format_bytes }}</div>
                        </div>
                    </div>
                {% else %}
                    <i><small>Pas de dossiers</small></i>
                {% endfor %}
            {% else %}
                <i><small>Pas de dossiers</small></i>
            {% endif %}
        </div>
    </section>

    <section>
        <h2>Fichiers</h2>
        <div class="aky-file-collection">
            {% for file in files %}
                <div class="aky-file-container">
                    <div class="aky-file">
                        <a href="#" class="aky-file-preview aky-file-addto-btn" data-path="{{ file.path }}" data-urltoget="{{ path('file_get_file_id') }}">
                            <img src="{{ asset(file.path) }}" alt="" width="100%">
                        </a>
                        <div class="aky-file-btnmanager">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary btn-sm aky-filemanager-modal-edit-file-btn" data-toggle="modal" data-target="#aky-filemanager-modal-edit-file" data-path="{{ file.path }}" data-url="{{ path('file_edit', { 'path' : file.path }) }}">
                                    <i class="fas fa-pen"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#aky-filemanager-modal-move-manager" data-file="{{ file.path }}" data-type="FILE">
                                    <i class="fas fa-hand-point-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="aky-file-collection-remove">
                            <form method="post" class="not-submit index-delete" action="{{ path('file_delete') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_file" value="{{ file.path }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.name) }}">
                                <button class="btn btn-danger btn-sm"><i class="fas fa-times"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="aky-file-infos">
                        <div class="aky-file-infos__name">{{ file.name|slice(0, 10) }}</div>
                        <div class="aky-file-infos__size">{{ file.size|format_bytes }}</div>
                    </div>
                </div>
            {% else %}
                <i><small>Pas de fichiers</small></i>
            {% endfor %}
        </div>
    </section>
    {% include '@AkyosFileManager/file/_modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
