{% if config == 'full' %}
    <button type="button" class="btn btn-secondary aky-filemanager-externaly btn-sm" data-toggle="modal" data-target="#aky-filemanager-modal-input-{{ id }}" data-input="#{{ form.vars.id }}">
        <i class="fas fa-link"></i>
    </button>
{% endif %}

<button type="button" class="btn btn-danger aky-filemanager-delete btn-sm" data-input="#{{ form.vars.id }}">
    <span class="fas fa-eraser"></span>
</button>

<button type="button" class="btn btn-primary aky-filemanager-open btn-sm" data-toggle="modal" data-target="#aky-filemanager-modal-{{ id }}" data-input="#{{ form.vars.id }}">
    <span class="far fa-folder-open"></span>
</button>