{#{% if not form.vars.required %}#}
    <button type="button" class="btn btn-danger aky-filemanager-delete btn-sm" data-input="#{{ form.vars.id }}">
        <span class="fas fa-eraser"></span>
    </button>
{#{% endif %}#}

{#<span class="btn btn-light fileinput-button">#}
{#    <span class="fas fa-plus text-success"></span>#}
{#    <input class="fileupload {{ collection is defined ? 'alone' }}" type="file" data-url="{{ path('file_manager_upload', {conf:conf}) }}" name="files[]" multiple="">#}
{#</span>#}

{#{% if form.vars.display_file_manager %}#}
    <button type="button" class="btn btn-primary aky-filemanager-open btn-sm" data-toggle="modal" data-target="#aky-filemanager-modal-{{ id }}" data-input="#{{ form.vars.id }}">
        <span class="far fa-folder-open"></span>
    </button>
{#{% endif %}#}